<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')  
    } %>

<%- messages() %>

<div id="account-management">
<% if (management == 1) { %>
    <h2>Account Info</h2>
    <h3><a href="/account/info">Edit Account Information</a></h3>

    <h2>Management View</h2>
    <h3><a href="../inv">Management</a></h3>

<% } else { %>
    <h2>Account</h2>
    <h3><a href="/account/info">Edit Account Information</a></h3>  

    <p>Access Manaegment resources</p>
    <a href="/account/admin/">Access</a>
<% } %>
</div>