<section class="main">
    <h1>Welcome to CSE Motors!</h1>
    <%- messages() %>
    <div class="hero">
        <img id="hero-img" src="images/vehicles/delorean.jpg" alt="">
        <article>
            <h2>DMC Delorean</h2>
            <p>3 Cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
            <button>Own Today</button>
        </article>
    </div>
    <div class="extras">
        <section class="upgrades">
            <h2>Delorean Upgrades</h2>
                <div class="items">
                    <div>
                        <img src="images/upgrades/flux-cap.png" alt="">
                        <a href="">Flux Capacitor</a>
                    </div>
                    <div>
                        <img src="images/upgrades/flame.jpg" alt="">
                        <a href="">Flame Decals</a>
                    </div>
                    <div> 
                        <img src="images/upgrades/bumper_sticker.jpg" alt="">
                    </div>
                    <div>
                        <img src="images/upgrades/hub-cap.jpg" alt="">
                        <a href="">Hub Caps</a>
                    </div>
                </div>
   
        </section>
        <section class="reviews">
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling Marty McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </section>
    </div>
</section>
