:root {
  --russian-violet: hsla(244, 61%, 16%, 1);
  --russian-violet-faded: hsla(244, 61%, 16%, .7);
  --argentinian-blue: rgba(93, 175, 234, 1);
  --argentinian-blue-faded: rgba(93, 175, 234, .5);
  --uranian-blue: hsla(206, 78%, 84%, 1);
  --uranian-blue-faded: hsla(206, 78%, 84%, .5);
  --flame: rgba(229, 97, 56, 1);
}




/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Exo", serif;
}

/************ Header ************/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 20px;
}

.siteName {
  font-size: 30px;
  
}

/************ Body ************/

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: white;
  margin: 0 auto;
  border: lightblue 5px solid;
  max-width: 800px;
  background-image: url('../images/site/small_check.jpg');
}

#wrapper {
  background: white;
}



.hero {
  margin-bottom: 5rem;
}

#hero-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

article {
  width: 240px;
  position: absolute;
  padding: 10px;
  background: var(--russian-violet-faded);
  color: rgb(231, 231, 231);
  transform: translate(10%, -90%);
  font-weight: 600;
  font-size: 18px;
  ;
}


article h2 {
  margin-bottom: -1rem;
}

article button {
  background: var(--uranian-blue);
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 2rem;
}

h1, h2, h3 {
  margin: 0;
  padding: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #666;
}

.items{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  gap: 10px;

}

.items div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: var(--russian-violet-faded);
  padding: 1rem;
  max-height: 100px;
  align-items: center;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.items div {
  text-align: center;
}

.upgrades h2 {
  background: var(--argentinian-blue);
}

.reviews h2 {
  background: var(--uranian-blue);
}

.reviews li {
  margin-bottom: 10px;
}

/* Navigation */

nav {
  background-color: var(--russian-violet);
  color: white;
  padding: 10px 0;
} 

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  padding: .75rem;
  transition: all 0.2s ease;
}

nav ul li:hover {
  background-color: var(--argentinian-blue-faded);
  padding: .75rem;
}

/************ Footer ************/

footer {
  padding: 10px;
  margin-top: 20px;
}

@media only screen and (min-width: 38rem) {
.extras {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  }
}