:root {
  --russian-violet: hsla(244, 61%, 16%, 1);
  --russian-violet-faded: hsla(244, 61%, 16%, .7);
  --argentinian-blue: rgba(93, 175, 234, 1);
  --argentinian-blue-faded: rgba(93, 175, 234, .5);
  --uranian-blue: hsla(206, 78%, 84%, 1);
  --uranian-blue-faded: hsla(206, 78%, 84%, .5);
  --flame: rgba(229, 97, 56, 1);
}




/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Exo", serif;
}

/************ Header ************/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-bottom: 20px;
}

.siteName {
  font-size: 30px;
  
}

/************ Body ************/

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: white;
  margin: 0 auto;
  border: lightblue 5px solid;
  max-width: 800px;
  background-image: url('../images/site/small_check.jpg');
}

#wrapper {
  background: white;
}


/* Navigation */

nav {
  background-color: var(--russian-violet);
  padding: 10px 0;
} 

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  padding: .75rem;
  transition: all 0.2s ease;
}

nav ul li:hover {
  background-color: var(--argentinian-blue-faded);
  padding: .75rem;
}

nav ul li a {
  color: whitesmoke;
  font-weight: bold;
}

/* Main Content */

.hero {
  margin-bottom: 5rem;
}

#hero-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

article {
  width: 240px;
  position: absolute;
  padding: 10px;
  background: var(--russian-violet-faded);
  color: rgb(231, 231, 231);
  transform: translate(10%, -90%);
  font-weight: 600;
  font-size: 18px;
  ;
}


article h2 {
  margin-bottom: -1rem;
}

article button {
  background: var(--uranian-blue);
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 2rem;
}

h1, h2, h3 {
  margin: 0;
  padding: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #666;
}

.items{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  gap: 10px;

}

.items div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: var(--russian-violet-faded);
  padding: 1rem;
  max-height: 100px;
  align-items: center;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.items div {
  text-align: center;
}

.upgrades h2 {
  background: var(--argentinian-blue);
}

.reviews h2 {
  background: var(--uranian-blue);
}

.reviews li {
  margin-bottom: 10px;
}

/* Vehicle Classification Page */

#inv-display li{
  padding: 20px;
  margin: 10px;
  border: solid rgb(187, 187, 187) 2px;
  border-radius: 3px;
  box-shadow: 0px 0px 7px rgba(155, 155, 155, 0.3);
  text-align: center;
  list-style: none;
}

#inv-display li:hover {
  background: var(--uranian-blue-faded);
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}

#inv-display img {
  max-width: 200px;
  margin-bottom: 10px;
}

/* Vehicle Detail Page */



#detailInfo {
  padding: 20px;
  border: solid rgb(187, 187, 187) 2px;
  max-width: 100%;
}

#detailDisplay img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}



/************ Footer ************/

footer {
  padding: 10px;
  margin-top: 20px;
}

/* **************** form ********************/

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  background: var(--russian-violet-faded);
  padding: 30px;
  color: whitesmoke;
  border-radius: 20px;
  box-shadow: 0 0 10px lightgrey;
}

form label {
  margin-top: 10px;
  font-weight: bold;
}

form input, form select {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--argentinian-blue);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  box-shadow: inset 0 0 5px var(--russian-violet-faded)
}

form a {
  color: var(--uranian-blue);
  text-decoration: underline;
}

#passButton {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 2px;
  margin-top: 1em;
  font-size: small;
  width: 7em;
  text-align: center;
  cursor: pointer;
}
/* Desktop View */

@media only screen and (min-width: 38rem) {
.extras {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  }

  #inv-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 10px;
  }

  #detailDisplay {
    display: grid;
    grid-template-columns: 60% 1fr;
    padding: 10px;
    gap: 10px;
  }

  #detailInfo {
    max-width: 300px;
  }
}


