<!-- creating the title -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } %>

<%- messages() %>

<form action="/inv/add-classification" method="POST">
    <p>Field is required</p>
    <label for="classification_name">Add new classification</label>
    <p>Name must be ALPHABETIC characters only!</p>
    <input type="text" name="classification_name" id="classification_name" required>
    <button type="submit">Add Classification</button>
</form>